<html lang="en">
<head>
<title>Invoice</title>
</head>
<style type="text/css">
body {
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
}
</style>
<body>
<?php
$site='http://presentience-clients.in/soilson/';
?>
<div class="container" style="width:100%;float:left;">
<div class="row" style="width:100%;float:left;">
<div class="middle" style="border-top:4px solid #009244;
float: left;background-color: #FFF;padding: 0px;width: 100%;
margin: 0px 0px;">
<div class="row" style="width:100%;float:left;">
<div class="top-sec1" style="width:100%;
float: left;background-color: #f6f6f6;">
<div class="top-sec" style="width:48%;float: left;padding: 10px 0% 30px 2%;">
<div class="new-logo" style="float:left;margin-top:15px;"> <img src="a.jpg" width="80" height="80"> </div>
<h1 style="float:left;margin-top:35px;margin-left:15px;">The Soil Son</h1>
</div>
<div class="shipp1" style="float:right;margin-top:10px;width:48%;
padding-right:2%;margin-top:10px;">
<p style="float:right;width:100%;text-align:right;margin-bottom:3px;margin-top:3px;color:#333;font-size:17px;font-family:Arial, Helvetica, sans-serif;">
<strong>Order Date:</strong> 
<?php echo '2020-02-20';?>
</p>
<p style="float:right;width:100%;text-align:right;margin-bottom:3px;margin-top:3px;color:#333;font-size:17px;font-family:Arial, Helvetica, sans-serif;">
<strong>Invoice Date:</strong> 
<?php echo '2020-02-20';?>
</p>
<p style="float:right;width:100%;text-align:right;margin-bottom:3px;margin-top:3px;color:#333;font-size:17px;font-family:Arial, Helvetica, sans-serif;">
<strong>Order ID:</strong>
<?php echo '2020-02-20';?>
</p>
</div>
</div>
</div>
<div class="address_section" style="margin-top:15px;float:left;width:100%;">
<div class="row" style="width:100%;float:left;">
<div class="new-invoice" style="float:left;width:30%;">
<h1 style="float:left;width:100%;font-size:35px;color:#b50d0d;margin-top:75px;text-align:center;font-family:Arial, Helvetica, sans-serif;">INVOICE</h1>
</div>
<div class="new-swa" style="width:40%;float:left;margin:0px;padding:0px;">
<h3 style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:19px;	color:#333;margin-bottom:3px;">The Soil Son</h3>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;">
D.No: 38-8-58,  Opposite PWD grounds,<br />
M.G.Road, Vijayawada,<br />
Andhra Pradesh-520010.
</p>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;"> <span class="phone1" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;"><img src="<?php echo $site;?>assets/images/phone_icon.jpg" width="17" height="16"> 0866-2475763</span></p>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;"> <span class="email1" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;"> <a href="mailto:swagruhafoods@yahoo.com" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;text-decoration:none;color:#333;"><img src="<?php echo $site;?>assets/images/email-icon.jpg" width="17" height="16"> swagruhafoods@yahoo.com</a></span></p>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;"><span class="email1" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;"> <a href="http://www.swagruhafoods.net" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;text-decoration:none;color:#333;"><img src="<?php echo $site;?>assets/images/web_icon.jpg" width="17" height="16"> http://www.swagruhafoods.net</a></span></p>
</div>
<div class="new-swa1" style="width:30%;float:left;margin:0px;padding:0px;">
<h3 style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:19px;	color:#333;margin-bottom:3px;">Shipping Address</h3>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;">
<strong style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#d3a004;margin-bottom:0px;">  
<?php 
echo 'Rushika Kesanapalli'; 
?> 
</strong> 
<br />
<?php
echo 'Hyderabad';
?>
</p>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;"> 
<span class="phone1" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;"> <img src="<?php echo $site;?>assets/images/phone_icon.jpg" width="17" height="16">
<?php 
echo '9640861076';
?>
,</span>
</p>
<p style="width:100%;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#333;margin-bottom:9px;margin-top:2px;"> <span class="email1" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;"><a href="mailto: <?php if($order_details[0]['email']!=''){ echo $order_details[0]['email']; } ?>" style="float:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;text-decoration:none;color:#333;"><img src="<?php echo $site;?>assets/images/email-icon.jpg" width="17" height="16">
<?php 
echo 'Venkat@gmail.com'; 
?>
</a></span></p>
</div>
</div>
</div>
<div class="items_status_new" style="width:98%; float:left;margin-left:1%;margin-right:1%;margin-top:40px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<th style="background:#dbdbdb;padding-top:12px;padding-bottom:12px;font:bold 15px Arial, Helvetica, sans-serif; text-align:center;border-right:1px solid #fff;">ITEM</th>
<th style="background:#dbdbdb;padding-top:12px;padding-bottom:12px;font:bold 15px Arial, Helvetica, sans-serif; text-align:center;border-right:1px solid #fff;">QUANTITY (Kgs)</th>
<th style="background:#dbdbdb;padding-top:12px;padding-bottom:12px;font:bold 15px Arial, Helvetica, sans-serif; text-align:center;border-right:1px solid #fff;">UNIT PRICE</th>
<th style="background:#dbdbdb;padding-top:12px;padding-bottom:12px;font:bold 15px Arial, Helvetica, sans-serif; text-align:center;">TOTAL</th>
</tr>
<?php
$products_data=array();
for($i=0;$i<count($products_data);$i++){
?>
<tr>
<td style="padding-top:9px;padding-bottom:9px;font:normal 14px Arial, Helvetica, sans-serif;color:#009244;text-align:center;border-bottom:1px solid #ecf0f1;"><?php echo $products_data[$i]['name']?></td>
<td style="padding-top:9px;padding-bottom:9px;font:normal 14px Arial, Helvetica, sans-serif;color:#333;text-align:center;border-bottom:1px solid #ecf0f1;"><?php echo $products_data[$i]['quantity']?></td>
<td style="padding-top:9px;padding-bottom:9px;font:normal 14px Arial, Helvetica, sans-serif;color:#333;text-align:center;border-bottom:1px solid #ecf0f1;">$<?php echo number_format($products_data[$i]['price'],2); ?></td>
<td style="padding-top:9px;padding-bottom:9px;font:normal 14px Arial, Helvetica, sans-serif;color:#333;text-align:center;border-bottom:1px solid #ecf0f1;">$<?php echo number_format($products_data[$i]['total'],2); ?></td>
</tr>
<?php
}
?>
<?php 
$order_total=array();
for($j=0;$j<count($order_total);$j++){
?>
<tr>
<td style="background:#009244;padding-top:9px;padding-bottom:9px;font:normal 15px Arial, Helvetica, sans-serif;color:#333;text-align:center;">&nbsp;</td>
<td style="background:#009244;padding-top:9px;padding-bottom:9px;font:normal 15px Arial, Helvetica, sans-serif;color:#333;text-align:center;">&nbsp;</td>
<td style="background:#027a3a;padding-top:9px;padding-bottom:9px;font:normal 15px Arial, Helvetica, sans-serif;color:#333;text-align:center;">
<p style="font:normal 16px Arial, Helvetica, sans-serif;color:#fff;text-align:center;">
<?php 
echo 'test';
?>
</p>
</td>
<td style="background:#027a3a;padding-top:9px;padding-bottom:9px;font:normal 15px Arial, Helvetica, sans-serif;color:#333;text-align:center;">
<p style="font:normal 16px Arial, Helvetica, sans-serif;color:#fff;text-align:center;">
$
<?php 
$amt=20000;
echo number_format($amt,2);
?>
</p>
</td>
</tr>
<?php
}
?>
</table>
</div>
<div class="thank" style="width:100%;text-align:center;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:25px;color:#008f40;float:left;margin-top:20px;">Thanks For Your Business</div>
<p>&nbsp;</p>
</div>
</div>
</div>
</body>
</html>